body{
    margin: 0;
    padding: 0;
    background: url(/img/backgorund1.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1, h2{
    font-family: 'Zen Loop', cursive;
    text-align: center;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}

#searchBasket{
    font-size: 25px;
    padding-top: 10px;
    
}



.pay-button{
    border: none;
    background-color: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    color: #0b1111;
    
    
} 

.nav{
    opacity: 0,5px;
    position: relative;
}

.nav .text-sm-center{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    color: #0b1111;
}

.nav-link:hover,
.nav-link_active {
  padding: 4px 4px;
  font-weight: 600;
  transition: 0.5s;
  background-color: #121612;
  color: white;
}



.page-content{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.product-container{
    margin: 20px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0.2);
    background-color: white;

}
.product-container h3{
    font-family: 'Smooch Sans', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;

}

.product-container:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2);
}
.product-container img{
    width: 300px;
}

.add-button{
    border: 2px solid;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    font-size: 16px;
    padding: 5px 15px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
  
.add-button:hover{
    background-color: #121612;
    color: white;
}

footer{
    background-color: aliceblue;
    opacity: 0,5;
    display: flex;
}